{
  "bots": [
    {
      "Folder_Name": "Название папки",
      "API_TOKEN": "Токен бота",
      "GROUP_CHAT_ID": "Айди группы",
      "IsParasite": false,
      "IsWeekPeriod": false,
      "IsMenuShow": false,
      "IsScheduledMessage": false
    }
}

IsParasite - Является ли бот приложением к другому боту, то-есть бот подключается к той же бд, работает в том же чате
IsWeekPeriod - Будет ли в боте работать функция уведомления пользователя в зависимости от дня недели
IsMenuShow - Будет ли бот показывать меню с кнопками при /start или простенькое приветствие
IsScheduledMessage - Будет ли через определенное время приходить сообщение с указанным текстом после старта бота
